In [1]:
import requests
import pandas as pd
import numpy as np

In [2]:
url = 'https://prices.runescape.wiki/api/v1/osrs/timeseries?timestep=5m&id=13190'
header = {'User-Agent': 'script for testing the api and EDA', 'From': 'anon'}

In [3]:
json_data = requests.get(url, headers=header).json()['data']

In [4]:
df = pd.concat([pd.DataFrame.from_dict([item], orient='columns') for item in json_data])

In [5]:
df.head(2)

    timestamp  avgHighPrice avgLowPrice  highPriceVolume  lowPriceVolume
0  1722568200      13412074    13604723               50              30
0  1722568500      13440710    13484031               48               8

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 0 to 0
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   timestamp        365 non-null    int64
 1   avgHighPrice     365 non-null    int64
 2   avgLowPrice      362 non-null    object
 3   highPriceVolume  365 non-null    int64
 4   lowPriceVolume   365 non-null    int64
dtypes: int64(4), object(1)
memory usage: 17.1+ KB